# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
!run/
run/*

# Files from Forge MDK
forge*changelog.txt

# Addon directory
!run/mods/
run/mods/*
!run/mods/Ultimodum/
run/mods/Ultimodum/*
!run/mods/Ultimodum/AddOns